{% extends 'mail.html.twig' %}
{% block body %}
    <p>Dear {{ hash.user.fullName }},</p>
    <p>We received a request to reset the password for your account at <a href="http://mwts2018.sharif.edu">http://mwts2018.sharif.edu</a>.</p>

    <p>Here's a one-time login link for you to use to access your account and set a
    new password</p>

    <a href="{{ loginUrl }}">{{ loginUrl }}</a>

    <p>If you didn't request the new login info, don’t worry. This link will
        expire after a day and nothing will happen if it's not used.</p>
{% endblock %}