<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Item</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Sending paper</td>
        <td>{{ papers.paper.price }} Rials</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td><em>Discount for attending in conference - {{ papers.paper.discount }} Rials</em></td>
        <td>-</td>
    </tr>
    </tbody>
</table>