{% extends 'profile.html.twig' %}
{% block title %}About conference{% endblock %}
{% block content %}
    <h2>Your payments</h2>

    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Payment Id</th>
            <th scope="col">Price</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
            <tr>
                <th scope="row">{{ payment.id }}</th>
                <td>{{ payment.getOnlinePaymentPrice }}</td>
                <td>{{ payment.doneDate.format('D, d M Y H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}