{% extends 'profile.html.twig' %}
{% block title %}About conference{% endblock %}
{% block content %}
    <h1>About conference</h1>
    <p>The third term of the Modern Wireless Telecommunication Systems conference will be held from the 16th to the 18th
        of April, 2018 at the Sharif university of technology.
        The main topics of the conference are as follows:
    <ul>
        <li>Automative</li>
        <li>Internet of Things (IOT)</li>
        <li>Smart City</li>
        <li>Mobile Broadband</li>
        <li>eHealth</li>
        <li>eBanking</li>
        <li>Smart Grid</li>
        <li> Blockchain</li>
        <li>Teleoperation</li>
    </ul>
    If you have a paper to present in any of the abovementioned topics send them to through <a
        href="{{ url('profile_articles') }}">this
    link</a>.
    The deadline of the abstract submission is 6th March and the final submission deadline is 13th March.
    Received papers will be reviewed by the scientific committee; if your papers are accepted by the commitee you
    will be allotted a time slot to present your paper.
    Accepted papers will be indexed in Civilica and ISC.</p>

    <h3 class="mt-5">Official Call for Papers <span class="badge badge-danger">[ Due to: 13 March]</span> </h3>

    It's time to get involved! Our call for paper has officially started and we warmly welcome you to upload your paper for the conference. Login to your account to upload and manage your papers. Your last chance to upload papers and pay for review is due to date 6 March
    Papers may be accepted only in the following professional issues related to 5G Technology Usages:
    <ul>
        <li>Automative
        </li>
        <li>Internet of Things (IOT)
        </li>
        <li>Smart City
        </li>
        <li>Mobile Broadband
        </li>
        <li>eHealth
        </li>
        <li>eBanking
        </li>
        <li>Smart Grid
        </li>
        <li>Blockchain
        </li>
        <li>Teleoperation</li>
    </ul>

    <h3 class="mt-5">Important Dates for <em>Call for Paper</em></h3>
    <p>Here is the important dates of call for the paper procedure:</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Event</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> February 24th</td>
            <td> Call for Paper Starts
            </td>
        </tr>
        <tr>
            <td>March 6th</td>
            <td> Final Deadline for Paper Abstract [*]
            </td>
        </tr>
        <tr>
            <td>March 13th</td>
            <td> Final Deadline for Full Paper Upload

            </td>
        </tr>
        </tbody>
    </table>


    <em style="font-size: 0.8em">[*] You can upload the abstract file with the same format as requested for papers in the paper submission
        system. After this date, the system will refresh for full paper upload for those who uploaded an abstract for
        full paper submission, if your paper is accepted. (NOTE: You will be notified through an email from the official
        conference site.) It's not neccessary to upload the abstract and you can directly upload full paper with
        abstract included.</em>

{% endblock %}