{% extends 'profile.html.twig' %}
{% block title %}Conference{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}

    <h1 class="pb-3">Send paper</h1>
    <div class="card">
        <div class="card-body">
            <h4 class="pb-1">Send file</h4>
            <div class="ui-form">
                {{ form_start(form) }}
                <div class="row mb-2">
                    <div class="col-4">{{ form_row(form.file) }}</div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="pt-4 pb-1">Invoice</h4>
    {% include 'invoice_paper.html.twig' %}
    <button type="submit" class="btn btn-primary btn-large my-4">Send paper</button>
    {{ form_end(form) }}
{% endblock %}