{% extends 'profile.html.twig' %}
{% block title %}Conference{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
    <h1 class="pb-3">Send article</h1>
    <p>Payment info</p>
    <div class="ui-form">
        {{ form_start(form) }}
        <div class="row mb-2">
            <div class="col-8">{{ form_row(form.summary) }}</div>
            <div class="col-4">{{ form_row(form.file) }}</div>
        </div>

        <h4 class="mt-3">Invoice</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Sending article summary</td>
                <td>200 Rials</td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary btn-large my-4">Send article</button>
        {{ form_end(form) }}
    </div>
{% endblock %}